@* @page "/VendorMasterDialog" *@
@using Admin.Components.Pages.UserMaster
@using Admin.Components.Shared
@using EmailService.Models
@using MudExtensions
@using System.Text.RegularExpressions

<MudDialog>
    <DialogContent>
        <MudForm @ref="form">
            <MudGrid>
                <MudItem xs="12" md="4">
                    <MudGrid>
                        <MudItem xs="12" md="12">
                            <MudChip T="string" Variant="Variant.Outlined" Color="Color.Secondary">Vendor Information </MudChip>
                        </MudItem>
                        <!-- Vendor Code -->
                        <MudItem xs="12" md="12">
                            @if (IsEditMode)
                            {
                                <MudTextField T="string" Label="Vendor Code" ReadOnly="isFatched" @bind-Value="Vendor.VendorCode" Required="true" />
                            }
                            else
                            {
                                <MudTextField T="string" Label="Vendor Code" ReadOnly="isFatched" @bind-Value="Vendor.VendorCode" Required="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.PersonSearch" AdornmentColor="Color.Secondary" OnAdornmentClick="@(() => OnFindClick())" />
                            }
                        </MudItem>
                        <!-- Vendor Name -->
                        <MudItem xs="12" md="12">
                            <MudTextField T="string" Label="Vendor Name" ReadOnly="true" @bind-Value="Vendor.VendorName" Required="true" />
                        </MudItem>

                        <MudItem xs="12" md="7">
                            <MudTextField T="string" Label="GST No." ReadOnly="true" @bind-Value="Vendor.GSTNo" />
                        </MudItem>
                        <MudItem xs="12" md="5">
                            <MudSwitch T="bool" Label="Is Active?" Value="_vendor.IsActive" ValueChanged="OnActiveChanged" Color="Color.Secondary" />
                        </MudItem>

                    </MudGrid>
                </MudItem>
                <MudItem xs="12" md="8">
                    <MudGrid>
                        <MudItem xs="12" md="12">
                            <MudChip T="string" Variant="Variant.Outlined" Color="Color.Secondary">Contact Information </MudChip>
                        </MudItem>
                        <!-- Other fields here, similar to the example  Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.PostAdd" OnAdornmentClick="AddToAddressList" AdornmentColor="Color.Secondary"-->
                        <MudItem xs="12" md="12">
                            <MudTextField @bind-Value="Vendor.Address" Label="Address" Multiline="true" FullWidth="true" AdornmentAriaLabel="Add Address" Required="true" />
                        </MudItem>
                        <MudItem xs="12" md="3">
                            <MudTextField T="string" Label="City" @bind-Value="Vendor.City" Required="true" />
                        </MudItem>
                        <MudItem xs="12" md="2">
                            <MudTextField T="string" Label="Post Code" @bind-Value="Vendor.PostCode" Required="true" />
                        </MudItem>

                        <MudItem xs="12" md="2">
                            <MudTextField T="string" Label="Region" @bind-Value="Vendor.RegionDescription" />
                        </MudItem>

                        <MudItem xs="12" md="5">
                            <MudTextField T="string" Label="Contact No" @bind-Value="Vendor.ContactNo" Required="true" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField T="string" Label="Email Id" @bind-Value="Vendor.EmailId" Required="true" />
                        </MudItem>
                        <MudItem xs="12" md="3">
                            <MudSwitch T="bool" Label="Is Default?" ReadOnly="IsMaked" @bind-Value="Vendor.IsDefault" Color="Color.Secondary" />
                        </MudItem>
                        <MudItem xs="12" md="3">
                            <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.PostAdd" Color="Color.Secondary" OnClick="AddToAddressList">Add to List</MudButton>
                        </MudItem>

                    </MudGrid>
                </MudItem>
                <MudItem xs="12" md="12">
                    <MudGrid>
                        <!-- Role Selection -->
                        <MudItem xs="12" md="12">
                            <MudChip T="string" Variant="Variant.Outlined" Color="Color.Secondary">List of Contact Information </MudChip>
                        </MudItem>
                        <MudItem xs="12" md="12">
                            <MudTable T="VendorAddressDetail" Items="_vendor.VendorAddresses" Hover="true" Dense="true" Bordered="true" Striped="true" SortLabel="Sort By">
                                <HeaderContent>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VendorAddressDetail, object>(x => x.AddressLine1)">ADDRESS</MudTableSortLabel></MudTh>
                                    <MudTh Style="width:80px;"><MudTableSortLabel SortBy="new Func<VendorAddressDetail, object>(x => x.City)">CITY</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VendorAddressDetail, object>(x => x.PinCode)">POST CODE</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VendorAddressDetail, object>(x => x.RegionDescription)">REGION</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VendorAddressDetail, object>(x => x.Mobile_Numbers)">CONTACT NO.</MudTableSortLabel></MudTh>
                                    <MudTh Style="text-align:right"><MudTableSortLabel SortBy="new Func<VendorAddressDetail, object>(x => x.Email_Ids)">EMAIL ID</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<VendorAddressDetail, object>(x => x.IsDefault)">IS_DEFAULT</MudTableSortLabel></MudTh>
                                    <MudTh></MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="ADDRESS">
                                        @context.AddressLine1
                                    </MudTd>
                                    <MudTd DataLabel="CITY">@context.City</MudTd>
                                    <MudTd DataLabel="POST CODE">@context.PinCode</MudTd>
                                    <MudTd DataLabel="REGION">@context.RegionDescription</MudTd>
                                    <MudTd DataLabel="CONTACT NO.">@context.Mobile_Numbers</MudTd>
                                    <MudTd DataLabel="EMAIL ID">@context.Email_Ids</MudTd>
                                    <MudTd DataLabel="IS_DEFAULT">@context.IsDefault</MudTd>
                                    <MudTd>
                                        <MudTooltip Text="Edit" ShowOnFocus="false">
                                            <MudIconButton Icon="@Icons.Material.Filled.EditNote" Color="Color.Primary" Size="Size.Small"
                                                           OnClick="@(()  => EditItem(context))" />
                                        </MudTooltip>
                                        <MudTooltip Text="Remove" ShowOnFocus="false">
                                            <MudIconButton Icon="@Icons.Material.Filled.DeleteOutline" Color="Color.Info" Size="Size.Small"
                                                           OnClick="@(() => RemoveItem(context))" />
                                        </MudTooltip>
                                    </MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                                </PagerContent>
                            </MudTable>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>

    <DialogActions>
        <MudItem>
            <MudSwitch T="bool" Label="Send vendor login credentials?" ReadOnly="!_vendor.IsActive" @bind-Value="_vendor.IsSentEmail" Color="Color.Success" />
        </MudItem>
        <MudButton OnClick="Save" Color="Color.Secondary" Variant="Variant.Filled" Disabled="@isSubmitting">Save Vendor</MudButton>
        <MudButton OnClick="Reset" Color="Color.Warning" Variant="Variant.Filled">Reset</MudButton>
        <MudButton OnClick="CloseDialog" Color="Color.Error" Variant="Variant.Filled">Cancel</MudButton>
    </DialogActions>
</MudDialog>
<Loader IsVisible="@IsLoading" />

@code {

    bool isShow;
    [CascadingParameter]
    private IMudDialogInstance? MudDialog { get; set; }
    public VendorDetail Vendor { get; set; } = new();
    [Parameter]
    public Vendor _vendor { get; set; } = new();
    [Parameter] public bool IsEditMode { get; set; }
    public bool IsMaked { get; set; } = false;

    private bool isFatched { get; set; }

    private MudForm form;
    private bool isSubmitting = false;
    bool IsLoading = false;
    private int User_Id = 0;

    private void OnActiveChanged(bool newValue)
    {
        if (!newValue)
            _vendor.IsSentEmail = newValue;
        _vendor.IsActive = newValue;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var user = HttpContextAccessor.HttpContext?.User;
        // Replace "YourCustomClaimType" with the actual claim type
        var uid = user!.Claims.FirstOrDefault(c => c.Type == CustomClaimTypes.User_Id)?.Value;
        User_Id = Convert.ToInt32(uid);
        if (_vendor != null)
        {
            Vendor.VendorCode = _vendor.VendorCode;
            Vendor.VendorName = _vendor.VendorName;
            Vendor.GSTNo = _vendor.GSTNo;
            isFatched = IsEditMode;
        }
        else
        {
            _vendor = new();
            isFatched = false;
        }

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // IsLoading = true;
            // IsLoading = false;
            // StateHasChanged();
        }
    }
    private async Task Reset()
    {
        bool? dres = await DialogService.ShowMessageBox("Confirmation", "Are you sure you want to reset Vendor form ?", yesText: "  Yes!  ", cancelText: "   No   ");
        if (dres == null)
        {
            return;
        }
        else
        {
            Vendor = new();
            _vendor = new();
            IsEditMode = false;
            StateHasChanged();
        }
    }
    //Get_Roles_List
    private async void Save()
    {

        if (string.IsNullOrEmpty(_vendor.VendorCode))
        {
            await ShowErrorDialog("Validation", "Vendor Code & Vendor Name are required.");
            return;
        }
        if (_vendor.VendorAddresses.Count == 0)
        {
            await ShowErrorDialog("Validation", "At least one address is required.");
            return;
        }

        bool? dres = await DialogService.ShowMessageBox("Confirmation", "Do you want to save vendor details?", yesText: "  Yes!  ", cancelText: "   No   ");
        if (dres == null)
        {
            return;
        }
        else
        {
            _vendor.CreatedBy = User_Id;


            var randomPassword = "your last password";
            if (!IsEditMode)
            {
                randomPassword = _passwordHasher.GenerateRandomPassword(8);
                _vendor.PassWord = _passwordHasher.HashPassword(randomPassword);
            }
            if (_vendor.IsActive && _vendor.IsSentEmail) //(!IsEditMode)
            {
                //--Email Sending start

                var toEmails = string.Join(";", _vendor.VendorAddresses.Select(a => a.Email_Ids));
                var serverSettings = mapper.Map<ServerSettings>(EmailServerSettings);
                var userSettings = new UserMailSettings
                {
                    From = EmailServerSettings.From,// "noreply@vishalwholesale.co.in",
                    To = toEmails,
                    Subject = $"Vendor account creation...reg.",
                    Body =
                        $"Hi {_vendor.VendorName},<br/><br/>" +
                        $"Your account has been successfully <b>created</b>/<b>updated</b> for inspection activities.<br/><br/>" +
                        $"Please use the following credentials to log in:<br/>" +
                        $"Login ID: <b>{_vendor.VendorCode}</b><br/>" +
                        $"Password: <b>{randomPassword}</b><br/>" +
                        $"Login URL: 🔗 <a href='https://qps.vishalmegamart.com:8024/'>https://qps.vishalmegamart.com:8024/</a><br/><br/>" +
                        $"<b>Note : </b> For security purposes, please change your password after your first login.",

                    IsBodyHtml = true,
                };
                var result = sender.SendMail(serverSettings, userSettings);

                _vendor.IsSentEmail = result.isSuccess;

                //--Email Sending start
            }

            var res1 = await ApiMasterService.CallingAPI<GenRes, Vendor>(AllApiNames.SET_VENDOR!, _vendor);
            if (res1.responseCode.Equals(0))
            {
                Snackbar.Add("Vendor record saved successfully.", Severity.Success);
                MudDialog?.Close();
            }
            else
            {
                await ShowErrorDialog("Error!", res1.responseMessage!);
            }
        }

    }
    private void CloseDialog()
    {
        MudDialog?.Close();
    }
    private async Task ShowErrorDialog(string Tital, string message)
    {
        await DialogService.ShowMessageBox(Tital, message);
    }
    // Find Button Logic
    private async Task OnFindClick()
    {
        if (!string.IsNullOrEmpty(Vendor.VendorCode))
        {
            // Prepare request safely
            var selectRequest = new SelectListReq
            {
                Id = 0,
                Cmd = CmdNames.Get_Vendor_By_Code,
                ResponseType = "",
                StrField = Vendor.VendorCode       // null-safe
            };
            // Find the vendor in local db
            IsLoading = true;
            var existingVendor = await ApiMasterService.CallingAPI<GetVendorByCode, SelectListReq>(AllApiNames.GET_VENDOR_BY_CODE, selectRequest);
            IsLoading = false;

            if (existingVendor.responseCode == 0 && existingVendor.responseMessage!.ToUpper() == "SUCCESS")
            {
                if (!string.IsNullOrEmpty(existingVendor.VendorModel.VENDOR_CODE))
                {
                    await ShowErrorDialog("Info", "Vendor details already exist in the record.");

                    selectRequest.Id = existingVendor.VendorModel.VENDOR_ID;
                    selectRequest.Cmd = CmdNames.Get_Vendor_Address;
                    var res = await ApiMasterService.CallingAPI<GetAddressByVendorCode, SelectListReq>(AllApiNames.GET_VENDOR_ADDRESS, selectRequest);
                    if (res.responseCode == 0 && res.responseMessage!.ToUpper() == "SUCCESS")
                    {
                        _vendor = mapper.Map<Vendor>(existingVendor.VendorModel);
                        _vendor.VendorGUId = Guid.NewGuid();
                        isFatched = true;
                        _vendor.VendorAddresses.Clear();
                        foreach (var addrss in res.AddressList)
                        {
                            var vadd = mapper.Map<VendorAddressDetail>(addrss);
                            vadd.AddressGUId = Guid.NewGuid();
                            _vendor.VendorAddresses.Add(vadd);
                        }
                        Vendor.VendorCode = _vendor.VendorCode;
                        Vendor.VendorName = _vendor.VendorName;
                        Vendor.GSTNo = _vendor.GSTNo;
                    }

                    return;
                }
            }

            //------------------------------
            string vcode = Vendor.VendorCode;
            var req = new SAP_API_DATA_Req
            {
                Param = Vendor.VendorCode,  // Ensure no null
                TaskName = "SAP_VENDOR_DETAILS"
            };

            IsLoading = true;
            var sapApiData = await ApiMasterService
                .CallingAPI<ApiData, SAP_API_DATA_Req>(AllApiNames.GET_SAP_API!, req)
                .ConfigureAwait(false);
            IsLoading = false;

            if (sapApiData is not null)
            {
                IsLoading = true;
                var vendorDetails = await ApiMasterService
                    .CallingSAPAPI<VendorResponse, string>(string.Empty, sapApiData)
                    .ConfigureAwait(false);
                IsLoading = false;
                if (vendorDetails.VendorDetails != null)
                {
                    if (vendorDetails.VendorDetails.Any() == true)  // Safe and concise
                    {
                        var Vendordtl = vendorDetails.VendorDetails.First();

                        if (Vendordtl is not null)  // extra guard
                        {
                            Vendor = Vendordtl;
                            Vendor.ContactNo = Vendordtl.TelephoneNumber + "; " + Vendordtl.TelephoneNumber2 + "; " + Vendordtl.TelephoneNumber3;

                            _vendor.VendorCode = Vendordtl.VendorCode;
                            _vendor.VendorName = Vendordtl.VendorName;
                            _vendor.GSTNo = Vendordtl.GSTNo;

                            _vendor.VendorGUId = Guid.NewGuid();
                            isFatched = true;
                        }
                    }
                    else
                    {
                        await ShowErrorDialog("Info", "Vendor not found.");
                        Vendor = new();
                        Vendor.VendorCode = vcode;

                    }
                }
                else
                {
                    await ShowErrorDialog("Info", "Requesting server is not responding.");
                    Vendor = new();
                    Vendor.VendorCode = vcode;
                }


            }
            else
            {
                await ShowErrorDialog("Error", "SAP_VENDOR_DETAILS Api not found.");
                return;
            }

        }
        else
        {
            await ShowErrorDialog("Warning", "Please enter a valid Vendor Code.");
        }
    }
    private async void AddToAddressList()
    {
        await form.Validate();

        if (!string.IsNullOrEmpty(Vendor.EmailId))
        {
            List<string> emailIds = Vendor.EmailId.TrimEnd(';').Split(';', StringSplitOptions.RemoveEmptyEntries).Select(e => e.Trim()).ToList(); ;

            foreach (var id in emailIds)
            {
                bool isValid = Regex.IsMatch(id, @"^[^@\s]+@[^@\s]+\.[^@\s]+$");
                if (!isValid)
                {
                    await DialogService.ShowMessageBox("Info", $"Email-id '{id}' is invalid.");
                    return;
                }
            }
        }

        if (form.IsValid)
        {
            var vendorDetails = _vendor.VendorAddresses.Where(p => p.AddressGUId == Vendor.VendorUId).FirstOrDefault();
            if (vendorDetails != null)
            {
                vendorDetails.AddressLine1 = Vendor.Address;
                vendorDetails.City = Vendor.City;
                vendorDetails.PinCode = Vendor.PostCode;
                vendorDetails.Region = Vendor.Region;
                vendorDetails.RegionDescription = Vendor.RegionDescription;
                vendorDetails.Mobile_Numbers = Vendor.ContactNo;
                vendorDetails.Email_Ids = Vendor.EmailId;
                vendorDetails.IsDefault = Vendor.IsDefault;
            }
            else
            {
                bool isexist = _vendor.VendorAddresses.Where(p => p.AddressLine1.Trim() == Vendor.Address.Trim()).Any();
                if (!isexist)
                {
                    _vendor.VendorAddresses.Add(new VendorAddressDetail
                    {
                        AddressGUId = Guid.NewGuid(),
                        AddressLine1 = Vendor.Address,
                        City = Vendor.City,
                        PinCode = Vendor.PostCode,
                        Region = Vendor.Region,
                        RegionDescription = Vendor.RegionDescription,
                        Mobile_Numbers = Vendor.ContactNo,
                        Email_Ids = Vendor.EmailId,
                        IsDefault = Vendor.IsDefault
                    });
                }
                else
                {
                    await DialogService.ShowMessageBox("Info", "Same address already exists in the list.");
                    return;
                }

            }
            Vendor.Address = "";
            Vendor.VendorUId = Guid.Empty;
            Vendor.City = "";
            Vendor.PostCode = "";
            Vendor.ContactNo = "";
            Vendor.EmailId = "";
            Vendor.IsDefault = false;
            Vendor.Region = "";
            Vendor.RegionDescription = "";
            IsMaked = _vendor.VendorAddresses.Where(a => a.IsDefault == true).Any();
            StateHasChanged();
        }
    }
    private async void RemoveItem(VendorAddressDetail request)
    {

        bool? dres = await DialogService.ShowMessageBox("Confirmation", "Are you sure you want to delete this item?", yesText: "  Yes!  ", cancelText: "   No   ");
        if (dres == null)
        {
            return;
        }
        else
        {
            _vendor.VendorAddresses.Remove(request);
            StateHasChanged();
        }
    }
    private async void EditItem(VendorAddressDetail request)
    {

        bool? dres = await DialogService.ShowMessageBox("Confirmation", "Are you sure you want to update this item?", yesText: "  Yes!  ", cancelText: "   No   ");
        if (dres == null)
        {
            return;
        }
        else
        {
            Vendor.VendorUId = request.AddressGUId;
            Vendor.Address = request.AddressLine1;
            Vendor.City = request.City;
            Vendor.PostCode = request.PinCode;
            Vendor.Region = request.Region;
            Vendor.RegionDescription = request.RegionDescription;
            Vendor.ContactNo = request.Mobile_Numbers;
            Vendor.EmailId = request.Email_Ids;
            Vendor.IsDefault = request.IsDefault;
            IsMaked = request.IsDefault == true ? false : _vendor.VendorAddresses.Where(a => a.IsDefault == true).Any();
            StateHasChanged();
        }




    }

}
<style>
    .muddividr {
        margin: 0 !important;
        border-color: #f408b2 !important;
        border-width: 2px;
    }

    .mud-breadcrumbs {
        padding: 12px 12px;
    }

    .floating-search-btn {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #e91e63;
        color: white;
        padding: 10px 6px;
        border-radius: 8px 0 0 8px;
        cursor: pointer;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-weight: bold;
        z-index: 999;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
    }

        .floating-search-btn:hover {
            background-color: #c2185b;
        }

    .search-modal {
        position: fixed;
        top: 170px;
        right: 35px;
        background-color: white;
        width: 320px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
        border-radius: 8px;
        z-index: 1000;
    }

        .search-modal .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .search-modal .close-btn {
            background: none;
            border: none;
            font-size: 18px;
            cursor: pointer;
        }

    .mud-simple-table.mud-table-dense * tr td, .mud-simple-table.mud-table-dense * tr th {
        padding: 2px 4px
    }

    .font8 {
        font-size: 0.8rem;
    }

    .mud-list-subheader-extended {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: -12px !important;
    }

    .mud-list-item-extended {
        padding-bottom: 0px !important;
    }

    .mud-list-item-gutters-extended.mud-list-item-dense-extended {
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .mud-list-subheader-gutters-extended {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .mud-icon-button-edge-margin-end {
        color: red !important;
    }

    .mud-input > input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
        padding: 15px 10px;
        font-size: 12px;
        height: 20px !important;
    }



    .filter-paper {
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 25px !important;
        padding-bottom: 5px !important;
        margin-left: 22px !important;
        margin-right: 28px !important;
        margin-bottom: 20px !important;
    }

    .mud-link {
        font-size: 0.8rem !important;
    }

    .mud-list-item-multiselect-extended.mud-list-item-multiselect-checkbox-extended {
        padding-inline-end: 0px;
    }

    .border1pxblack {
        border: 1px solid #ffffffeb;
        background-color: #ed008b !important;
        color: white;
    }

    .border1pxblack1 {
        background-color: #ed008b !important;
        color: white;
        border: none !important;
    }

    .my-custom-select {
        position: relative;
    }

        .my-custom-select .mud-popover {
            padding-top: 20px;
        }

    .filter-close-button {
        position: absolute;
        top: 6px;
        right: 6px;
        cursor: pointer;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 50%;
        padding: 2px;
        z-index: 99999;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }

    .mud-list-subheader-extended {
        top: -6px !important;
    }

    .mud-list-subheader-extended {
        position: relative !important;
    }

    .disabled-div {
        pointer-events: none; /* Prevent clicks */
        opacity: 0.6; /* Dimmed look */
        background-color: #f0f0f0; /* Optional: lighter background */
        user-select: none; /* Prevent text selection */
    }

    .mud-dialog-title {
        border-bottom: 1px solid #1413140d;
    }

    .mud-dialog-actions {
        border-top: 1px solid #1413140d;
    }

    .mud-dialog-content {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .mud-dialog-title {
        padding: 11px !important;
    }

    .mud-message-box__yes-button {
        color: white !important;
        background-color: green !important;
    }

    .mud-message-box__cancel-button {
        color: white !important;
        background-color: red !important;
    }

    .mud-message-box .mud-dialog-actions {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
</style>
